<!DOCTYPE html>
<html>
<head>
	<title>Vue JS</title>
	<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
	<style >
		* { font-family: "Courier"; }
		#app {

			border: 1px solid black;
			border-radius: 3px;
			/*width: 600px;*/
			position: absolute;
			/*transform: translate(-50%,-50%);*/
			left: 30%;
			right: 30%;
			width: 40%;
			top: 25%;

			} 
		h3 { text-align: center; }
		input[type=text] {
				margin-left: 50px;
				width: 70%;

		 }
	</style>
</head>
<body>

	<div id="app">
		<h3>Two way binding.</h3>
		<input type="text" v-model="message" @keyup.enter="additem()">
		<input type="button" value="Enter" @click="additem()">
		<br>
		<ul>
			<li v-for="item in list" v-text="item"></li>
		</ul>
	</div>

</body>

	<script>
		
		 new Vue({
		
		  	el: "#app",
			
			data: {

				message: "",
				list: ['Physics','Chemistry','Maths']
				
			},

			methods: {

				additem: function(){
					this.list.push(this.message)
					this.message=""
				}
			}
		})
	</script>
</html>

